{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>CNT4713 Project</h1>
        <p>By Bryan Alvarenga, Naor Vidal, Gelson Cardoso</p>
        <p>Florida International University</p>
      </div>
    <h2>Login Page</h2>
    <form action="/action_page.php">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock content %}
